<header>
    <div style="display:flex; justify-content: space-between; padding: 1rem;">
        <div>
            <a id="indexLink" routerLink="/" >
                <img src="assets/images/logo.png" alt="Logo" style="height: 4rem; margin-right: 8rem;">
            </a>
        </div>
        <div style="display:flex; align-items: center;">
            <div>
                <a id="uploadLink" routerLink="/upload" class="link">
                    <img src="assets/images/upload.png" alt="Upload" style="height: 2rem; width: 2rem; margin-right: 2rem;">
                </a>
            </div>
            <div>
                <a id="profileLink" routerLink="/profile/me" class="link">
                    <img src="assets/images/user.png" alt="User" style="height: 2rem; width: 2rem;  margin-right: 0.5rem;">
                </a>
            </div>
        </div>
    </div>
</header>